a:link {font-size:12px; font-family: Arial, sans-serif; text-decoration: none; color: #000000;}
a:visited {font-size:12px; font-family: Arial, sans-serif;  text-decoration: none; color: #000000;}
a:active {font-size:12px; font-family: Arial, sans-serif;  text-decoration: none; color: #000000;}
a:hover {font-size:12px; font-family: Arial, sans-serif;  text-decoration: none; color: #F68918;}

input {font-family:Courier New; font-size:12px;}
input.stylepwd {font-family:Courier New; font-size:12px;}
input.stylebut {font-family:Arial; font-size:12px; padding-left: 5px; text-align: left;}
select {font-family:Arial, sans-serif; font-size:12px;}
td {font-family:Arial, sans-serif; font-size:12px;}
li {font-family:Arial, sans-serif; font-size:12px;}

p {font-family:Arial, sans-serif; font-size:12px;}
h2 {font-family:Arial, sans-serif; font-size:12px; color: #333333; background-color:#DDDDDD; padding:2px;}

body {
  font-family:Arial, sans-serif; font-size:12px;
  background-color: #FFFFFF; margin-left: 0px; margin-top: 0px; margin-bottom: 0px;
  color: #000000;
}

#c_banner {
	 background-color: #F68918; 
	 POSITION: absolute; LEFT: 0px; WIDTH: 100%; TOP: 0px; HEIGHT: 100%;
}

#c_Frame {
	 OVERFLOW: auto; 
}
#t_Frame {
	POSITION: relative; LEFT: 0px; margin-right:190px; HEIGHT: 30px; /*OVERFLOW: hidden;*/
	background-color: #FFFFFF; font-weight: bold;
}
#i_Frame {
	position: fixed; right:0px; top: 0px; WIDTH: 190px; HEIGHT: 100%; OVERFLOW: hidden;
	color: #000000; background-color: #F6F6F6; Z-INDEX: 1;
}

#c_bild {
	POSITION: absolute; LEFT: 15px;
}

#c_verzoeg1 {
	background-repeat:no-repeat; 
	POSITION: absolute; left: 15px; top: 37px; width: 402px; height: 75;
	border-color: #F68918; border-width: 1px; border-style: solid; 
	background-color: #F0F0F0; background-image: url(pic_c_verzoeg.gif); VISIBILITY: hidden;
}

#c_verzoeg1_visible {
background-repeat:no-repeat;
POSITION: absolute; left: 15px; top: 37px; width: 402px; height: 75;
border-color: #F68918; border-width: 1px; border-style: solid; 
	background-color: #F0F0F0; background-image: url(pic_c_verzoeg.gif); VISIBILITY: visible;
}

#c_verzoeg2 {
	POSITION: absolute; left: 13px; top: 112px; width: 406px; height: 371;
	background-color: #FFFFFF; VISIBILITY: hidden;
}
#c_verzoeg2_visible {
        POSITION: absolute; left: 13px; top: 112px; width: 406px; height: 371;
        background-color: #FFFFFF; VISIBILITY: visible;
}

#c_border {
	POSITION: relative; margin-left: 15px; margin-top: 10px; margin-right: 200px; overflow: auto;
	border-color: #F68918; border-width: 1px; border-style: solid; background-color: #F0F0F0;
}

#c_pfad {
	height: 25px; line-height: 25px; padding-left: 10px;
	border-bottom-color: #D0D0D0; border-bottom-width: 1px; border-bottom-style: solid;
}

#c_titel {
	height: 25px; line-height: 25px; padding-left: 10px; font-weight: bold;
}

#c_link {
	height: 25px; line-height: 25px; padding-left: 6px; background-image: url(pic_c_menu.gif);
	background-repeat: no-repeat;
}

#c_linklast {
	height: 25px; line-height: 25px; padding-left: 6px;
	background-image: url(pic_c_menu.gif); background-repeat: no-repeat;
}

#c_std {
	height: 25px; line-height: 25px; padding-left: 10px;
}

#c_last {
	height: 25px; line-height: 25px; padding-left: 10px;
}

#c_text {
	line-height: 15px; padding-left: 10px;
}

#c_leer {
	height: 25px; line-height: 25px; border-bottom-color: #D0D0D0; border-bottom-width: 1px; border-bottom-style: solid;
}

#c_foot {
	height: 25px; line-height: 25px;
}

#t_but1 {
	POSITION: absolute; top: 4px; left: 15px; width: 86px; text-align: center;
	border-color: #F68918; border-width: 1px; border-style: solid;
	background-color: #FFFFFF; cursor:pointer;
}
#t_but1:hover {
	POSITION: absolute; top: 4px; left: 15px; width: 86px; text-align: center;
	border-color: #F68918; border-width: 1px; border-style: solid;
	color: #F68918; background-color: #FFFFFF; cursor:pointer;
}
#t_but1_hidden {
        POSITION: absolute; top: 4px; left: 15px; width: 86px; text-align: center;
        border-color: #F68918; border-width: 1px; border-style: solid; visibility: hidden;
}

#t_but2 {
	POSITION: absolute; top: 4px; left: 120px; width: 86px; text-align: center;
	border-color: #F68918; border-width: 1px; border-style: solid; background-color: #FFFFFF; cursor:pointer;
}
#t_but2:hover {
	POSITION: absolute; top: 4px; left: 120px; width: 86px; text-align: center;
	border-color: #F68918; border-width: 1px; border-style: solid; color: #F68918; background-color: #FFFFFF; cursor:pointer;
}
#t_but2_hidden {
        POSITION: absolute; top: 4px; left: 120px; width: 86px; text-align: center;
        border-color: #F68918; border-width: 1px; border-style: solid; visibility: hidden;
}

#t_but3 {
	POSITION: absolute; top: 4px; left: 226px; width: 86px; text-align: center;
	border-color: #F68918; border-width: 1px; border-style: solid; background-color: #FFFFFF; cursor:pointer;
}
#t_but3:hover {
	POSITION: absolute; top: 4px; left: 226px; width: 86px; text-align: center;
	border-color: #F68918; border-width: 1px; border-style: solid; color: #F68918; background-color: #FFFFFF; cursor:pointer;
}
#t_but4 {
	POSITION: absolute; top: 4px; left: 331px; width: 86px; text-align: center; 
	border-color: #F68918; border-width: 1px; border-style: solid; background-color: #FFFFFF; cursor:pointer;
}
#t_but4:hover {
	POSITION: absolute; top: 4px; left: 331px; width: 86px; text-align: center; 
	border-color: #F68918; border-width: 1px; border-style: solid; color: #F68918; background-color: #FFFFFF; cursor:pointer;
}
#t_but3_hidden {
        POSITION: absolute; top: 4px; left: 226px; width: 86px; text-align: center; 
        border-color: #F68918; border-width: 1px; border-style: solid; visibility: hidden;
}
#t_but4_hidden {
        POSITION: absolute; top: 4px; left: 331px; width: 86px; text-align: center;
        border-color: #F68918; border-width: 1px; border-style: solid; visibility: hidden;
}

#i_content {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px;
}
#i_content1 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content2 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content3 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content4 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content5 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content6 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content7 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content8 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content9 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content10 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content11 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content12 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content13 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content14 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content15 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content16 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content17 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content18 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content19 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content20 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content21 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content22 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}
#i_content23 {
	Z-INDEX: 2; POSITION: absolute; LEFT: 10px; WIDTH: 180px; TOP: 10px; VISIBILITY: hidden;
}

#box_left {
	float:left; margin-right:1px;
} 
#box_right {
	float:left; margin-right:15px; margin-left:1px;
}
#index_box {
	margin-left: 15px; margin-top: 10px; overflow: auto;
	border-color: #F68918; border-width: 1px; border-style: dashed; 
	background-color: #F0F0F0; padding: 5px; 	
}
#index_box2 {
	margin-left: 15px; margin-top: 10px; margin-bottom: 10px; overflow: auto;
	border-color: #F68918; border-width: 1px; border-style: dashed; 
	background-color: #F0F0F0; padding: 5px; clear:both; float:left;
}

#m_Frame {
	POSITION: absolute; LEFT: 0px; WIDTH: 170px; TOP: 0px; HEIGHT: 100%; OVERFLOW: auto; background-color: #F6F6F6; background-repeat: no-repeat;
}
#m_bild {
	height: 30px; padding-left: 20px;
}
#m_otitel {
	height: 21px; line-height: 21px; padding-left: 10px; color: #999999; 
	font-family: Arial, sans-serif; font-size:12px; font-weight: bold;
}
#m_leer {
	height: 10px; line-height: 15px;
}

#m_but a:hover{
	height: 16px; line-height: 16px; padding-left: 10px; color: #FFFFFF; background-image: url(pic_m_marker.gif); background-repeat: no-repeat;
	font-family: Arial, sans-serif; font-size:12px; font-weight: bold;
	 text-decoration:none;
}

#m_but a{
	height: 16px; line-height: 16px; padding-left: 10px; color: #000000; 
	font-family: Arial, sans-serif; font-size:12px; font-weight: bold;
	 text-decoration:none;
}

/* SVG BAR */
rect.svgbar_bg { fill: #EEEEEE; }
rect.svgbar_color { fill: #F68918; }
rect.svgbar_border { stroke: #000000; }
text.svgbar_text { color: #000000; font-family:Verdana,sans-serif; font-size:11px; }

