#t_Frame {
	POSITION: absolute; LEFT: 0px; margin-right:190px; HEIGHT: 30px; /*OVERFLOW: hidden;*/
	background-color: #FFFFFF; font-weight: bold;
}
#i_Frame {
	position: absolute; right:0px; top: 0px;
        WIDTH: 190px; HEIGHT: 100%; OVERFLOW: hidden;
	background-color: #F6F6F6; Z-INDEX: 1;  
}
