<HTML>

<HEAD>

<TITLE>StatusÜbersicht</TITLE>

<SCRIPT language="JavaScript" src="js_menu.txt" type="text/JavaScript"></SCRIPT>

<LINK rel="stylesheet" href="style.css" type="text/css">
<script>
var voipprovname = new Array("Carpo","Anderer Anbieter");  
var providerName = '<%ejGetVoip(providerName)%>';
var anotherNumber = '<%ejGetVoip(telenumber_Another)%>';
var tonlineNumber = '<%ejGetVoip(telenumber_TONLINE)%>';

var phoneNumber = '';
var voipprov = "";
if (providerName == 'TONLINE') {
	phoneNumber = tonlineNumber;
	voipprov = voipprovname[0];
	}
else
{
	phoneNumber = anotherNumber;
	voipprov = voipprovname[1];
}
function getWanProvider()
{
	var serviceId = '<%ejGet(serviceId)%>';
	var result = "keine wan";

	switch(serviceId){
	case '1':
		result = "T-Online";
		break;
	case '2':
		result = "Carpo";
		break;
	case '3':
		result = "T-DSL Business mit fester IP";
		break;
	case '4':
		result = "Anderer Provider";
		break;
	}

	return result;
}
function getWanStatus()
{
	var wan_status = '<%ejGetOther(sysInfo, status)%>';
	var result = "";
	if (wan_status == 'Verbunden'){
		result = "Verbindung aktiv";
	} else {
		result = "Verbindung getrennt";
	}
	return result;
}
function getPhoneNum()
{

}
function getPhoneStatus()
{

}
</script>

</HEAD>

<BODY>

<DIV id=c_Frame>

<DIV id=c_border>
<DIV id=c_pfad>StatusÜbersicht</DIV>
<DIV id=c_titel>Firmware</DIV>
<DIV id=c_statlast>
      <table border="0" cellpadding="4" cellspacing="0">
        <tr>
          <td width="200">Firmware Version:</td>
          <td><%ejGet(firmwareVersion)%></td>
        </tr>
      </table>
</DIV>

<DIV id=c_leer></DIV>
<DIV id=c_titel>DSL Anschluss</DIV>
<DIV id=c_stat>
      <table border="0" cellpadding="4" cellspacing="0">
        <tr>
          <td width="200">DSL Downstream:</td>
          <td><%ejGetOther(lineRate, 1)%>kBit/s</td>
        </tr>
      </table>
</DIV>
<DIV id=c_statlast>
      <table border="0" cellpadding="4" cellspacing="0">
        <tr>
          <td width="200">DSL Upstream:</td>
          <td><%ejGetOther(lineRate, 3)%>kBit/s</td>
        </tr>
      </table>
</DIV>

<DIV id=c_leer></DIV>
<DIV id=c_titel>Internetzugang</DIV>
<DIV id=c_statlast>
      <table border="0" cellpadding="4" cellspacing="0">
        <tr>
          <td width="200"><SCRIPT>document.write(getWanProvider())</SCRIPT></td>
          <td><SCRIPT>document.write(getWanStatus())</SCRIPT></td>
        </tr>
      </table>
</DIV>

<DIV id=c_leer></DIV>
<DIV id=c_titel>DSL Telefonnummer</DIV>
<DIV id=c_statlast>
      <table border="0" cellpadding="4" cellspacing="0">
        <tr>
          <td width="200"><script>document.write('Rufnr. '+ phoneNumber)</script></td>
          <td><script>
	if (phoneNumber != '' )
	        document.write(' <%ejGetvoipStatus(status)%>');
	else
		document.write(' nicht registriert');
	</script></td>
        </tr>
      </table>
</DIV>

<DIV id=c_leer></DIV>
<DIV id=c_foot></DIV>
</DIV>

</DIV>

<DIV id=t_Frame>
<DIV id=t_but2 onclick='JavaScript:location.reload()' onmouseover=rahmen(1,2) onmouseout=rahmen(0,2)>Aktualisieren</DIV>
<DIV id=t_but3 onclick=startseite() onmouseover=rahmen(1,3) onmouseout=rahmen(0,3)>Zur&uuml;ck &lt;&lt;</DIV>

</DIV>

<DIV id=i_Frame>

  <DIV id=i_content>
    <h2>Übersicht</h2>
    <p>Hier erhalten Sie eine Übersicht über den Status Ihres Routers.</p>
  </DIV>
  
</DIV>

</BODY>

</HTML>
